{% extends 'base.html' %}
{% load static %}

{% block content %}
 <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>Visitantes</h3>
            </div>
            <div class="custom-bar-chart">
              <ul class="y-axis">

				<li><span>150</span></li>
                <li><span>100</span></li>
                <li><span>50</span></li>
                <li><span>25</span></li>

                <li><span>10</span></li>

                <li><span>0</span></li>
              </ul>
              <div class="bar">
                <div class="title">JANEIRO</div>
                <div class="value tooltips" data-original-title="120" data-toggle="tooltip" data-placement="top">85%</div>
              </div>
              <div class="bar ">
                <div class="title">FEVEREIRO</div>
                <div class="value tooltips" data-original-title="75" data-toggle="tooltip" data-placement="top">50%</div>
              </div>
              <div class="bar ">
                <div class="title">MARCO</div>
                <div class="value tooltips" data-original-title="95" data-toggle="tooltip" data-placement="top">60%</div>
              </div>
              <div class="bar ">
                <div class="title">ABRIL</div>
                <div class="value tooltips" data-original-title="127" data-toggle="tooltip" data-placement="top">45%</div>
              </div>
              <div class="bar">
                <div class="title">MAIO</div>
                <div class="value tooltips" data-original-title="85" data-toggle="tooltip" data-placement="top">32%</div>
              </div>
              <div class="bar ">
                <div class="title">JUNHO</div>
                <div class="value tooltips" data-original-title="109" data-toggle="tooltip" data-placement="top">62%</div>
              </div>
              <div class="bar">
                <div class="title">JULHO</div>
                <div class="value tooltips" data-original-title="135" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
            </div>
            <!--custom chart end-->
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>VISITAS DIA</h5>
                  </div>
                  <canvas id="serverstatus01" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: 70,
                        color: "#FF6B6B"
                      },
                      {
                        value: 30,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                      <p>META DO DIA<br/>35</p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                      <h2>70%</h2>
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>AGENDAMENTO DO MES</h5>
                  </div>
                  <canvas id="serverstatus02" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: 85,
                        color: "#1c9ca7"
                      },
                      {
                        value: 15,
                        color: "#f68275"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <p>Novembro 2, 2019</p>
                  <footer>
                    <div class="pull-left">
                      <h5><i class="fa fa-calendar-o"></i> 30 NOV</h5>
                    </div>
                    <div class="pull-right">
                      <h5>85% Meta</h5>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>NOVEMBRO 2019</h5>
                  </div>
                  <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1"
                    data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff"
                    data-spot-radius="4" data-data="[150,125,180,298,281,283,258,200,175,265,280]"></div>
                  </div>
                  <p class="mt"><b>R$ 84.000,00</b><br/>Renda do Mes</p>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
            <div class="row">
              <!-- WEATHER PANEL -->
              <div class="col-md-4 mb">

              </div>
              <!-- /col-md-4-->
              <!-- DIRECT MESSAGE PANEL -->
              <div class="col-md-8 mb">
                  <div class="row">

                  </div>

                <!-- /Message Panel-->
              </div>
              <!-- /col-md-8  -->
            </div>
            <div class="row">
              <!-- TWITTER PANEL -->
              <div class="col-md-4 mb">

              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 mb">
                <!-- WHITE PANEL - TOP USER -->


                  <div class="row">


                  </div>

              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 mb">

                <!-- INSTAGRAM PANEL -->

              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">

              </div>
              <!-- /col-md-4 -->
              <!--  PROFILE 02 PANEL -->
              <div class="col-lg-4 col-md-4 col-sm-4 mb">

                <!-- /panel -->
              </div>

            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->

            <!--NEW EARNING STATS -->

            <!--new earning end-->

            <!-- USERS ONLINE SECTION -->
            <h4 class="centered mt">MEMBROS DA EQUIPE ONLINE</h4>
            <!-- First Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-divya.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">Camille Priscila</a><br/>
                  <muted>Secretaria</muted>
                </p>
              </div>
            </div>
            <!-- Second Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-sherman.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">Antonio Marques</a><br/>
                  <muted>Telemarkeing</muted>
                </p>
              </div>
            </div>
            <!-- Third Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-danro.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">Alexandre da Silva</a><br/>
                  <muted>Divulgador</muted>
                </p>
              </div>
            </div>
            <!-- Fourth Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-zac.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">Arthur Brandao</a><br/>
                  <muted>Pesquisador</muted>
                </p>
              </div>
            </div>
            <!-- CALENDAR-->
            <div id="calendar" class="mb">
              <div class="panel green-panel no-margin">
                <div class="panel-body">
                  <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="disadding: none;"></h3>
                    <div id="date-popover-content" class="popover-content"></div>
                  </div>
                  <div id="my-calendar"></div>
                </div>
              </div>
            </div>
            <!-- / calendar -->
          </div>
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>

{% endblock %}